@import "./variables";

h1 {
    width: 71.6rem;
    height: 22.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 7rem;
    line-height: 105px;
    color: $gray-600;
}